body {
    background-image: url(a/sea_island_1.jpg);
    background-color: #fbccf2;
    background-repeat: repeat-y;
}

h1 span {
    color: #d0e35b;
}

#lead {
    border-top: #0000ff 5px groove;
    border-bottom: #0000ff 5px dashed;
    border-right: #0000ff 10px ridge;
    border-left: #0000ff 10px solid;
    margin: 10px 10px;
    border-style: #0000ff 10px dotted;
    padding: 10px 10px;
}

a {
    color: #170a09;
}

a:link {
    color: #0000ff
}

a:visited {
    color: blueviolet;
}

a:hover {
    color: #09ff00;
}

h2 {
    color: #6fbb9a;
    border: #94c8b1 1px dotted;
    border-right: #d0e35b 10px dotted;
    padding: 20px 20px;
    margin-bottom: 10;
}

.frame {
    margin: 20px;
    padding: 10px;
    background-image: url(a/Line-102.png );
    background-repeat: repeat-x;
    background-color: #fbccf2;
    background-position: left top;
}

.more {
    text-align: right;
    padding-right: 10px;
    background-image: url(yajirusi.jpg);
    background-repeat: no-repeat;
    background-position: right center;
}